.footer {
    height: 450px;
    background-color: black;
    h1 {
        padding-top: 20px;
        text-align: center;
        color: white;
    }
    .logo {
        margin-top: 140px;
        display: flex;
        justify-content: center;
        img {
            padding: 5px 15px;
            width: 64px;
            height: auto;
            cursor: pointer;
        }
    }
    h2 {
        text-align: center;
        margin-top: 50px;
        color: white;
    }
}




@media only screen and (max-width:768px) {
   .footer{
       width: 100%;
       h1{
           font-size: 20px;
       }
       .logo {
           img{
            width: 50px;  
           }
       }
       h2{
           font-size: 18px;
       }
   }
  }



  @media only screen and (max-width:414px) {
    .footer{
        width: 100%;
        h1{
            font-size:  18px;
        }
        .logo {
            img{
             width: 50px;
             height: auto;  
            }
        }
        h2{
            font-size: 16px;
        }
    }
   }