.footer {
    height: 450px;
    background-color: black;
    h1 {
        padding-top: 20px;
        text-align: center;
        color: white;
    }
    .logo {
        margin-top: 140px;
        display: flex;
        justify-content: center;
        img {
            padding: 5px 15px;
            width: 64px;
            height: auto;
            cursor: pointer;
        }
    }
    h2 {
        text-align: center;
        margin-top: 50px;
        color: white;
    }
}