*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}




@import '_menu.scss';
@import '_footer.scss';



.sectionTeam{
    margin-top: 10px;
    .sectionTeam-photo {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0,0,0,0.5));
    }
    .title{
        position: absolute;
        top:70%;
        color:#ffff;
        left: 50%;
        font-size:50px;
        font-weight: bold;
        transform: translate(-50%,-50%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        


    }
}
.service {
    
    background: rgb(245, 239, 239);
    padding-bottom: 40px;
   
    
    h1 {
        text-align: center;
    }
    .container {
        padding-top: 50px;
        width: 80%;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        margin: 0 auto;



      
        .block0,.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8 {
            height: 400px;
            width: auto;
            padding-top: 50px;
            background: rgb(207, 198, 198);
            border-radius: 3px;
            box-shadow: 5px 10px #888888;

            
            cursor: pointer;
            .block0,.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8:active{
                background-color: aqua;

            }
            
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                padding-top: 20px;
            }
            h2 {
                text-align: center;
            }
        }
    }
}


@media only screen and (max-width:1400px) {
    body {

        .sectionTeam {

          .title {
              top: 30%;
              font-size:30px;
  
          }
        }
      }
  }



//   @media only screen and (max-width:1024px) {
//     body {
//     }
//   }








  @media only screen and (max-width:768px) {
    body {

      .sectionTeam {
        .title {
            top: 30%;
            font-size:30px;

        }
      }
    }
  }

//   @media only screen and (max-width:375px) {
//     body {
//         width: 100%;

//         .sectionTeam {
//             .title {
//                 top: 30%;
//                 font-size:30px;
    
//             }
//     }
// }



