
*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}



@import 'menu.scss';
@import '_headerHero';
@import '_footer.scss';





input[type=text],input[type= email], select, textarea {
    width: 100%;/* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #dbdb12;
    color: white;
    padding: 10px 25px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // margin-left: 50%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #d4e4d5;
  }
  
  /* Add a background color and some padding around the form */

  
  .container {
    width: 50%;
    border-radius: 5px;
    background-color: black;
    // margin-top: 10%;


        // background-color: #c44848;

    display: block;
    margin: 0 auto;
    padding: 20px;
    // .container-label{
    //   color: white;
    // }
  }
  .contact {
        padding-top: 10px;
       height: 900px;
       .alert{
         text-align: center;
         font-size: 30px;
         font-weight: 300;
         width: 50%;
         margin: 0 auto 30px;
         padding-top: 25px; 
         height: 100px;
         border-radius: 5px;
         color: white;
       }
       .alert-danger{
         background-color: rgba(226, 27, 136, 0.829);
       }
       .alert-success{
        background-color: rgba(156, 226, 27, 0.87);

       }
       .block0{
          padding-top: 40;
           height: 100px;
           display:block;
        .contat--titre{
            text-align: center;
            padding-top: 20px;
            font-size: 30px;
            font-weight: bold;
           
        }
       }
      
  }

  .container-label{
    color: white;
  }



  @media only screen and (max-width:768px) {
    body {
      .contact {
        .container{
          width: 90%;
        }
      }
    }
  }
