
*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}



@import 'menu.scss';
@import '_headerHero';
@import '_footer.scss';





input[type=text],input[type= email], select, textarea {
    width: 100%;/* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #dbdb12;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // margin-left: 50%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */

  
  .container {
    width: 50%;
    border-radius: 5px;
    background-color: #cddfcd;

        // background-color: #c44848;

    display: block;
    margin: 0 auto;
    padding: 20px;
  }
  .contact {
       height: 900px;
       .block0{
           height: 150px;
        .contat--titre{
            text-align: center;
            padding-top: 20px;
            font-size: 30px;
            font-weight: bold;
           
        }
       }
      
  }