
*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}

@import '_menu.scss';
@import '_footer.scss';


.sectionTeam{
    margin-top: 10px;
    .sectionTeam-photo {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0,0,0,0.5));
    }
    .title{
        position: absolute;
        top:70%;
        color:#ffff;
        left: 50%;
        font-size:50px;
        font-weight: bold;
        transform: translate(-50%,-50%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        


    }
}

.portfolio-team {
    .portfolio-team--titre{
        // margin-top: 49px;
        font-size: 40px;
        color: rgb(207, 192, 192);
        text-align: center;
        // height: 100px;
    }

    .portfolio{
        padding-bottom: 10px;
        align-self: center;;
        padding-top: 60px;
        width: 90%;
  
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto;
        grid-column-gap :5px;
        grid-row-gap:5px;
        .block1{
            grid-column: 1/2;
            grid-row: 1/2;
            box-shadow: bisque;

        }
        .block2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .block3{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .block4{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .block5{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .block6{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .block-7{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .block8{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .block9{
            grid-column: 3/4;
            grid-row: 3/4;
        }

     
      
        
        img {
            width: 420px;
            height: auto;
            cursor: pointer;
        }
    }
    
}




@media only screen and (max-width:1280px) {
    body {
      width: 100%;
      .portfolio-team{
          width: 100%;
          .portfolio{
            width: 100%;
            .img{
                width: 150px;
                height: auto;
            }
          }
      }
    }
   
  }



  

  @media only screen and (max-width:768px) {
    body {
      width: 100%;
        .sectionTeam{
            width: 100%;
            .title{

                top:30%;
                font-size: 35px;
            }
        }
      .portfolio-team{
        width: 100%;
        .portfolio{
            // 
            display: flex;
            flex-direction: column;
            img {
                width:500px;
                height: auto;
                // cursor: pointer;
                // border-radius: 5px;
                margin: 0 auto;
                display: block;
                padding-top: 20px;
            }
           
           
        }

      }


      
    }
  }





  @media only screen and (max-width:414px) {
    body {
      width: 100%;
        .sectionTeam{
            width: 100%;
            .title{
                // background-color: yellow;
                font-size: 20px;
                text-align: left;
                top: 30%;
            }
        }
      .portfolio-team{
        width: 100%;
        .portfolio{
            // 
            display: flex;
            flex-direction: column;
            img {
                width:250px;
                height: auto;
                
                margin: 0 auto;
                display: block;
                padding-top: 20px;
            }
           
           
        }

      }


      
    }
  }