
*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}

@import '_menu.scss';
@import '_footer.scss';


.sectionTeam{
    margin-top: 10px;
    .sectionTeam-photo {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0,0,0,0.5));
    }
    .title{
        position: absolute;
        top:70%;
        color:#ffff;
        left: 50%;
        font-size:50px;
        font-weight: bold;
        transform: translate(-50%,-50%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        


    }
}

.portfolio-team {
    .portfolio-team--titre{
        font-size: 40px;
        color: rgb(207, 192, 192);
        text-align: center;
    }

    .portfolio{
        padding-bottom: 10px;
        padding-top: 60px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        // margin: 5px 10px;
        
        img {
            width: 420px;
            height: auto;
            cursor: pointer;
        }
    }
    
}



@media only screen and (max-width:1440px) {
    body {
      width: 100%;
      .portfolio-team{
          width: 100%;
          .portfolio{
            width: 100%;
            .img{
                width: 420px;
                height: auto;
            }
          }
      }
    }
   
  }




@media only screen and (max-width:1280px) {
    body {
      width: 100%;
      .portfolio-team{
          width: 100%;
          .portfolio{
            width: 100%;
            .img{
                width: 150px;
                height: auto;
            }
          }
      }
    }
   
  }



  

  @media only screen and (max-width:768px) {
    body {
      width: 100%;
        .sectionTeam{
            width: 100%;
            .title{

                top:30%;
                font-size: 35px;
            }
        }
      .portfolio-team{
        width: 100%;
        .portfolio{
            img {
                width:500px;
                height: auto;
                
               
            }
           
           
        }

      }


      
    }
  }





  @media only screen and (max-width:414px) {
    body {
      width: 100%;
        .sectionTeam{
            width: 100%;
            .title{
                font-size: 20px;
                text-align: left;
                top: 30%;
            }
        }
      .portfolio-team{
        width: 100%;
        .portfolio{
           
            img {
                width:250px;
                height: auto;
                
                margin: 0 auto;
                display: block;
                padding-top: 20px;
            }
           
           
        }

      }


      
    }
  }