
*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
  
}

@import '_menu.scss';
@import '_footer.scss';


.sectionTeam{
    margin-top: 10px;
    .sectionTeam-photo {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0,0,0,0.5));
    }
    .title{
        position: absolute;
        top:70%;
        color:#ffff;
        left: 50%;
        font-size:50px;
        font-weight: bold;
        transform: translate(-50%,-50%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        


    }
}

.portfolio-team {
    .portfolio-team--titre{
        margin-top: 49px;
        font-size: 40px;
        color: rgb(207, 192, 192);
        text-align: center;
        height: 100px;
    }

    .portfolio{
        padding-bottom: 10px;
        align-self: center;;
        padding-top: 60px;
        width: 60%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto;
        grid-column-gap :20px;
        grid-row-gap:20px;
        .block {
            border: 2px solid rgb(206, 197, 197);
        }
        img {
            width:300px;
            height: auto;
            display: block;
            cursor: pointer;
        }
    }
    
}